@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.studentCard {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px lightgrey;
}

img {
  margin-left: 25px;
  width: 150px;
  height: 150px;
  border: solid 1px lightgrey;
  border-radius: 75px;
}

.studentName {
  font-size: 40px;
  font-weight:bold;
  padding-left: 10px;
}

.studentInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px;

}

.moreInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding-left: 20px;
}