@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;700&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.studentCard {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px lightgrey;
}

img {
  margin: 25px;
  width: 150px;
  height: 150px;
  border: solid 1px lightgrey;
  border-radius: 75px;
}

.studentName {
  font-size: 40px;
  font-weight:bold;
}

.studentInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;

}

.moreInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px 0px 10px;
  line-height: 25px;
  padding-left: 10px;
}